<section id="sub_header">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="main_title">
          <h1><i class="icon_tags"></i> Reassembly and Packing</h1>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End section -->

<div class="container margin_60">
  <div class="row">
    <div class="col-md-9">
      <%= image_tag "pages/packing/packing-main.jpg", class:"img-responsive border" %>
      <h3>Packing service</h3>
      <p class="add_bottom_30">
        Ad qui consulatu scripserit comprehensam. Eum <strong>purto epicurei cotidieque</strong> at, ius luptatum invidunt no, vim at sint pertinacia repudiandae. Ad cum dicant laboramus delicatissimi, ex has nonumes explicari prodesset, brute tincidunt conclusionemque no has. Sit ullum latine ei. Ius id adhuc iriure torquatos. Justo prompta senserit eos cu, omnesque posidonium liberavisse pri in. Malorum fabulas elaboraret mea in, vel ut harum tacimates posidonium.
      </p>
      <h3>Reassembling Service</h3>
      <p class="add_bottom_30">
        Ad qui consulatu scripserit comprehensam. Eum <strong>purto epicurei cotidieque</strong> at, ius luptatum invidunt no, vim at sint pertinacia repudiandae. Ad cum dicant laboramus delicatissimi, ex has nonumes explicari prodesset, brute tincidunt conclusionemque no has. Sit ullum latine ei. Ius id adhuc iriure torquatos. Justo prompta senserit eos cu, omnesque posidonium liberavisse pri in. Malorum fabulas elaboraret mea in, vel ut harum tacimates posidonium.
      </p>

      <div class="box_style_3 add_bottom_15">
        <div class="row">
          <div class="col-md-4 text-center">
            <p>
              <%= image_tag "icons/reassembly_icon_1.png", size:"110x100", data_retina:true %>
            </p>
            <h4>1. Preparing</h4>
            <p>
              Lorem ipsum dolor sit amet, has eu scaevola facilisi maluisset, sea te cibo similique, tollit feugait senserit mei te.
            </p>
          </div>
          <div class="col-md-4 text-center">
            <p>
              <%= image_tag "icons/reassembly_icon_2.png", size:"74x100", data_retina:true %>
            </p>
            <h4>2. Collecting</h4>
            <p>
              Lorem ipsum dolor sit amet, has eu scaevola facilisi maluisset, sea te cibo similique, tollit feugait senserit mei te.
            </p>
          </div>
          <div class="col-md-4 text-center">
            <p>
              <%= image_tag "icons/reassembly_icon_3.png", size:"171x100", data_retina:true %>
            </p>
            <h4>3. Moving</h4>
            <p>
              Lorem ipsum dolor sit amet, has eu scaevola facilisi maluisset, sea te cibo similique, tollit feugait senserit mei te.
            </p>
          </div>
        </div><!-- End row -->
      </div>
    </div><!-- End col-md-9 -->

    <div class="col-md-3">
      <div class="box_style_1">
        <ul id="cat_nav">
          <li><%= link_to "Moving", services_moving_path %></li>
          <li><%= link_to "Packing and Reassembly", services_packing_and_reassembly_path %></li>
          <li><%= link_to "Storage", services_storage_path %></li>
          <li><%= link_to "Special Furnitures", services_special_furnitures_path %></li>
        </ul>
        <hr>
        <h5>Did you find what you need?</h5>
        <p class="nopadding"><%= link_to "Contact Us", contact_us_path %></p>

      </div><!-- End Box_style_1 -->

      <div class="quote_banner">
        <%= link_to quotation_path do %>
            <i class="icon_calulator"></i> Need a Quotation?
        <%end%>
      </div>

      <div class="box_style_2">
        <h4>Removal tips</h4>
        <h5><i class="icon_toolbox_alt"></i> Preparing</h5>
        <ul>
          <li>Defrost your refrigerator in time for moving day.</li>
          <li>It’s useful to keep a notebook at hand to write down reminders.</li>
          <li>Get in touch with utility companies to verify service start dates at your new home.</li>
        </ul>
        <h5><i class="icon_tag_alt"></i> Packing and labeling</h5>
        <ul>
          <li>Label boxes on all sides so you can see what it contains in a stack without having to move everything around.</li>
          <li>Clearly mark boxes containing fragile goods.</li>
          <li>Pack a suitcase with clothes and toiletries like you’re going on a trip for a few days.</li>
        </ul>
        <p><%= link_to "Read More", tips_path %></p>
      </div>

    </div><!-- End col-md-3 -->

  </div><!-- End row -->
</div><!-- End container -->