<section id="sub_header">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="main_title">
          <h1>Special Furnitures</h1>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End section -->

<div class="container margin_60">
  <div class="row">

    <div class="col-md-9">
      <%= image_tag "special_1.jpg", class:"img-responsive border" %>
      <h3>Art and antique furnitures</h3>
      <p>Ad qui consulatu scripserit comprehensam. Eum <strong>purto epicurei cotidieque</strong> at, ius luptatum invidunt no, vim at sint pertinacia repudiandae. Ad cum dicant laboramus delicatissimi, ex has nonumes explicari prodesset, brute tincidunt conclusionemque no has. Sit ullum latine ei. Ius id adhuc iriure torquatos. Justo prompta senserit eos cu, omnesque posidonium liberavisse pri in. Malorum fabulas elaboraret mea in, vel ut harum tacimates posidonium.</p>

      <div class="row">
        <div class="col-md-6">
          <%= image_tag "special_2.jpg", class:"img-responsive border" %>
          <h3>Packing with extra care</h3>
          <p>Ad sed apeirian senserit gloriatur, eu iusto ubique impetus quo. Sea no essent cotidieque reformidans, sea an <strong>persius moderatius</strong> comprehensam, at nam tamquam alterum definiebas. Nibh facilisi mei eu, essent virtute ius id. Ne ullum consequat sit, dolorum deserunt expetendis no eam.</p>
        </div>
        <div class="col-md-6">
          <%= image_tag "special_3.jpg", class:"img-responsive border" %>
          <h3>Insurance</h3>
          <p>Ad sed apeirian senserit gloriatur, eu iusto ubique impetus quo. Sea no <strong>essent cotidieque</strong> reformidans, sea an persius moderatius comprehensam, at nam tamquam alterum definiebas. Nibh facilisi mei eu, essent virtute ius id. Ne ullum consequat sit, dolorum deserunt expetendis no eam.</p>
        </div>
      </div><!-- End row -->

      <hr>

      <div class="row">
        <div class="col-md-6">
          <ul class="feat">
            <li>
              <%= image_tag "icon_domestic_3.png", size:"50", data_retina:"true" %>
              <h4>Packing service</h4>
              <p>Nibh facilisi mei eu, essent virtute ius id. Ne ullum consequat sit, dolorum deserunt expetendis no eam.</p>
            </li>
            <li>
              <%= image_tag "icon_domestic_4.png", size:"50", data_retina:"true" %>
              <h4>Delicate Packing service</h4>
              <p>Nibh facilisi mei eu, essent virtute ius id. Ne ullum consequat sit, dolorum deserunt expetendis no eam.</p>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="feat">
            <li>
              <%= image_tag "icon_international_3.png", size:"50", data_retina:"true" %>
              <h4>Dedicate Help center</h4>
              <p>Nibh facilisi mei eu, essent virtute ius id. Ne ullum consequat sit, dolorum deserunt expetendis no eam.</p>
            </li>
            <li>
              <%= image_tag "icon_international_2.png", size:"50", data_retina:"true" %>
              <h4>Transport</h4>
              <p>Nibh facilisi mei eu, essent virtute ius id. Ne ullum consequat sit, dolorum deserunt expetendis no eam.</p>
            </li>
          </ul>
        </div>
      </div><!-- End row -->

      <hr>

      <h3>Packing &amp; Moving charges</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Mover /Hr</th>
          <th>2 Men</th>
          <th>3 Men</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Single mover</td>
          <td>$50 /hr</td>
          <td>$90 /hr</td>
        </tr>
        <tr>
          <td>Plus Small truck</td>
          <td>$150 /hr</td>
          <td>$250 /hr</td>
        </tr>
        <tr>
          <td>Plus Medium truck</td>
          <td>$350 /hr</td>
          <td>$450 /hr</td>
        </tr>
        <tr>
          <td>Plus Big truck</td>
          <td>$450 /hr</td>
          <td>$450 /hr</td>
        </tr>
        </tbody>
      </table>

    </div><!-- End col-md-9 -->

    <div class="col-md-3">
      <div class="box_style_1">
        <ul id="cat_nav">
          <li><%= link_to "Moving", services_moving_path %></li>
          <li><%= link_to "Packing and Reassembly", services_packing_and_reassembly_path %></li>
          <li><%= link_to "Storage", services_storage_path %></li>
          <li><%= link_to "Special Furnitures", services_special_furnitures_path %></li>
        </ul>
        <hr>
        <h5>Did you find what you need?</h5>
        <p class="nopadding"><%= link_to "Contact Us", contact_us_path %></p>

      </div><!-- End Box_style_1 -->

      <div class="quote_banner">
        <%= link_to quotation_path do %>
            <i class="icon_calulator"></i> Need a Quotation?
        <%end%>
      </div>

      <div class="box_style_2">
        <h4>Removal tips</h4>
        <h5><i class="icon_toolbox_alt"></i> Preparing</h5>
        <ul>
          <li>Defrost your refrigerator in time for moving day.</li>
          <li>It’s useful to keep a notebook at hand to write down reminders.</li>
          <li>Get in touch with utility companies to verify service start dates at your new home.</li>
        </ul>
        <h5><i class="icon_tag_alt"></i> Packing and labeling</h5>
        <ul>
          <li>Label boxes on all sides so you can see what it contains in a stack without having to move everything around.</li>
          <li>Clearly mark boxes containing fragile goods.</li>
          <li>Pack a suitcase with clothes and toiletries like you’re going on a trip for a few days.</li>
        </ul>
        <p><%= link_to "Read More", tips_path %></p>
      </div>

    </div><!-- End col-md-3 -->

  </div><!-- End row -->
</div><!-- End container -->