<section id="sub_header">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="main_title">
          <h1><i class="icon_phone"></i> Contact Us</h1>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End section -->

<div class="container margin_60">
  <div class="row">

    <div class="col-md-9">
      <div id="map"></div><!-- end map-->
      <hr>
      <div id="message-contact"></div>
    <form id="contactform">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>First name</label>
              <input type="text" class="form-control" id="name_contact" name="name_contact" >
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>Last name</label>
              <input type="text" class="form-control" id="lastname_contact" name="lastname_contact">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>Email</label>
              <input type="email" id="email_contact" name="email_contact" class="form-control" >
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>Phone number</label>
              <input type="text" id="phone_contact" name="phone_contact" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Your message</label>
              <textarea rows="5" id="message_contact" name="message_contact" class="form-control" style="height:100px;"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Are you a robot? 3 + 1 =</label>
              <input type="text" id="verify_contact" class=" form-control">
            </div>
            <%= submit_tag "Submit", class:"btn_1 green medium add_bottom_30", id:"submit-contact" %>
          </div>
        </div>
      </form>
    </div><!-- End col-md-9 -->

    <div class="col-md-3">
      <div class="box_style_2">
        <h5>Address</h5>
        <ul>
          <li><%= @address.html_safe %></li>
          <i class="icon_mail_alt"></i> <%= mail_to @emailAddress, @emailAddress, subject: "About Move America" %> <br>
          <i class="icon_phone"></i> <a href= "tel:"<% @phoneNumber %>><%= @phoneNumber %></a> <br>
            <small>Monday to Friday 9am - 7pm</small></li>
        </ul>
      </div>
      <div class="quote_banner">
        <%= link_to quotation_path do %>
            <i class="icon_calulator"></i> Need a Quotation?
        <%end%>
      </div>
    </div><!-- End col-md-3 -->
  </div><!-- End row -->
</div><!-- End container -->

<!-- Specific scripts -->
<!-- GOOGLE MAP -->
<%= javascript_include_tag "mapmarker.jquery" %>
<%= javascript_include_tag "mapmarker_func.jquery" %>

<!-- Form validation -->
<%= javascript_include_tag "validate" %>