<%= stylesheet_link_tag "layerslider/layerslider" %>

<div id="full-slider-wrapper">
  <div id="layerslider" style="width:100%;height:500px;">

    <!-- fourth slide -->
    <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
      <%= image_tag 'pages/main/home.jpg', style: 'height:100%;width:100%;', class: "ls-bg", data_retina: true %>
      <h3 class="ls-l" style="top:50%; left:50%; font-size: 50px; white-space:nowrap; color:#fff; text-transform:uppercase; font-weight:bold;text-shadow:  0px 0px 10px #111;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;" >Long and shor term storage!</h3>
      <p class="ls-l" style="top:58%; left:50%; color:#fff; font-size:18px; white-space:nowrap; text-shadow:  0px 0px 10px #111;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;" >SAFE / ORGANIZED / AFFORDABLE</p>
      <p class="ls-l" style="top:70%; left:50%;" data-ls="durationin:2000;delayin:1300;easingin:easeOutElastic;"><a href="deposit.html" class="button_intro">Read more</a></p>
    </div>

    <% image_tag 'pages/main/home.jpg', style: 'height:100%;width:100%;', class: "ls-bg", data_retina: true %>

  </div>
</div><!-- End layerslider -->

<div id="get_quote" class="green">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h3>Looking for a quality and affordable removals service? </h3>
      </div>
      <div class="col-md-3">
        <%= link_to "Get a Quote", quotation_path, class:"btn_quote"%>
      </div>
    </div><!-- End row -->
  </div>
</div><!-- End Get quote -->

<div id="feat_home">
  <div class="container margin_30">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="box_feat">
          <p>
            <%= image_tag 'icons/reassembly_icon_1.png', size:"110x100", data_retine: true %>
          </p>
          <h3>Packing</h3>
          <p>
            Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="box_feat">
          <p>
            <%= image_tag 'icons/reassembly_icon_2.png', size:"74x100", data_retine: true  %>
          </p>
          <h3>Storage</h3>
          <p>
            Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="box_feat">
          <p>
            <%= image_tag 'icons/reassembly_icon_3.png', size:"171x100", data_retine: true  %>
          </p>
          <h3>Moving</h3>
          <p>
            Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
          </p>
        </div>
      </div>
    </div><!-- End row -->

    <h2 class="text-center" style="color: #cc0001">
      Moving never can't be more easy!
      <br>
      <a href= "tel:"<% @phoneNumber %>>CALL US! <%= @phoneNumber %></a>
    </h2>
    <hr>
  </div>
</div><!-- End feat home -->

<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <%= link_to services_moving_path do %>
        <%= image_tag 'pages/moving/moving-main.jpg', class:"img-responsive border" %>
      <% end %>
      <h3>Moving</h3>
      <p>
        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
        <br>
        <%= link_to "Read More", services_moving_path %>
      </p>
    </div>
    <div class="col-md-3 col-sm-3">
      <%= link_to services_packing_and_reassembly_path do %>
          <%= image_tag 'pages/packing/packing-main.jpg', class:"img-responsive border" %>
      <% end %>
      <h3>Reassembly and packing</h3>
      <p>
        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
        <br>
        <%= link_to "Read More", services_packing_and_reassembly_path %>
      </p>
    </div>
    <div class="col-md-3 col-sm-3">
      <%= link_to services_storage_path do %>
          <%= image_tag 'pages/storage/storage-main.jpg', class:"img-responsive border" %>
      <% end %>
      <h3>Storage</h3>
      <p>
        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
        <br>
        <%= link_to "Read More", services_storage_path %>
      </p>
    </div>
    <div class="col-md-3 col-sm-3">
      <%= link_to services_special_furnitures_path do %>
          <%= image_tag 'pages/special/special-main.jpg', class:"img-responsive border" %>
      <% end %>
      <h3>Special Furnitures</h3>
      <p>
        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
        <br>
        <%= link_to "Read More", services_special_furnitures_path %>
      </p>
    </div>
  </div><!-- End row -->

  <hr>

  <div class="row">
    <div class="col-md-4">
      <h4>Some words about us</h4>
      <p>
        Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc <strong>doctus definitiones</strong> an, vix id dicam putent.
      </p>
      <p>
        Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc doctus definitiones an, vix id dicam putent. Ius ornatus instructior in.
      </p>
    </div>
    <div class="col-md-4">
      <h4>Mission</h4>
      <p>
        Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc <strong>doctus definitiones</strong> an, vix id dicam putent. Ius ornatus instructior in.
      </p>
      <ul class="list_2">
        <li><strong> Cum doctus civibus efficiantur in</strong></li>
        <li><strong>Quot persecuti mel.</strong></li>
        <li><strong>Vix id dicam putent</strong></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>10 Years of experience</h4>
      <p>
        Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc <strong>doctus definitiones</strong> an, vix id dicam putent. Ius ornatus instructior in.
      </p>
      <ul class=" list_ok">
        <li><strong> Cum doctus civibus efficiantur in</strong></li>
        <li><strong>Quot persecuti mel.</strong></li>
        <li><strong>Vix id dicam putent</strong></li>
      </ul>
    </div>
  </div><!-- End row -->
</div><!-- End container -->

<div class="bg_content magnific">
  <div>
    <h3>Deliver around the world</h3>
    <p>
      Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
    </p>
    <a href="https://www.youtube.com/watch?v=C9umImG77g8" class="video"><i class="icon-play-circled2-1"></i></a>
  </div>
</div><!-- End bg_content -->

<!-- LayerSlider script files -->
<%= javascript_include_tag "layerslider/greensock" %>
<%= javascript_include_tag "layerslider/layerslider.transitions" %>
<%= javascript_include_tag "layerslider/layerslider.kreaturamedia.jquery" %>
<script type="text/javascript">
  // Running the code when the document is ready
  $(document).ready(function(){
    // Calling LayerSlider on the target element with adding custom slider options
    $('#layerslider').layerSlider({
      autoStart: true,
      responsive: true,
      responsiveUnder: 1280,
      layersContainer: 1170
      // Please make sure that you didn't forget to add a comma to the line endings
      // except the last line!
    });
  });
</script>