<section id="sub_header">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="main_title">
          <h1><i class="icon-folder-open"></i> Licences and Insurances</h1>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End section -->

<div class="container margin_60">
  <div class="row">

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="box_style_4">
            <h3>Licences</h3>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Licence</th>
                <th>Valid for</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Licence #1</td>
                <td>Florida</td>
              </tr>
              <tr>
                <td>Licence #2</td>
                <td>USA</td>
              </tr>
              <tr>
                <td>Licence #3</td>
                <td>Fl, Ny, Ca</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div><!-- End row -->
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="box_style_4">

            <h3>Insurances</h3>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Insurance</th>
                <th>Up to</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Insurance #1</td>
                <td>$5,000,000.00</td>
              </tr>
              <tr>
                <td>Insurance #2</td>
                <td>$5,000,000.00</td>
              </tr>
              <tr>
                <td>Insurance #3</td>
                <td>$5,000,000.00</td>
              </tr>
              <tr>
                <td>Insurance #4</td>
                <td>$5,000,000.00</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div><!-- End row -->
    </div><!-- End col-md-9 -->

    <div class="col-md-3">
      <div class="box_style_1">
        <ul id="cat_nav">
          <li><%= link_to "Moving", services_moving_path %></li>
          <li><%= link_to "Packing and Reassembly", services_packing_and_reassembly_path %></li>
          <li><%= link_to "Storage", services_storage_path %></li>
          <li><%= link_to "Special Furnitures", services_special_furnitures_path %></li>
        </ul>
        <hr>
        <h5>Did you find what you need?</h5>
        <p class="nopadding"><%= link_to "Contact Us", contact_us_path %></p>

      </div><!-- End Box_style_1 -->

      <div class="quote_banner"><%= link_to "Need a quotation?", "quotation#index" %></div>

    </div><!-- End col-md-3 -->
  </div><!-- End row -->
</div><!-- End container -->

