<header>
  <div id="top_line">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span id="tag_line">Free Estimates · Best Prices · Friendly Service</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <ul id="top_links">
            <li><span id="phone_header"><strong><h5><a href= "tel:+1 561 672 4545">CALL US! +1 561 672 4545</a></h5></strong></span></li>
          </ul>
        </div>
      </div><!-- End row -->
    </div><!-- End container-->
  </div><!-- End top line-->

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div id="logo">
          <%= link_to root_path do %>
              <%= image_tag 'logo.png', size: "150x35", data_retina: true %>
          <%end%>
        </div>
      </div>
      <nav class="col-md-9 col-sm-9 col-xs-9">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
        <div class="main-menu">
          <div id="header_menu">
            <%= link_to root_path do %>
                <%= image_tag 'logo.png', size: "150x35", data_retina: true %>
            <%end%>
          </div>
          <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li class="submenu">
              <a href="javascript:void(0);" class="show-submenu">Services <i class="icon-down-open-mini"></i></a>
              <ul>
                <li><%= link_to "Moving", services_moving_path %></li>
                <li><%= link_to "Packing and Reassembly", services_packing_and_reassembly_path %></li>
                <li><%= link_to "Storage", services_storage_path %></li>
                <li><%= link_to "Special Furnitures", services_special_furnitures_path %></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);" class="show-submenu">Licences & Insurances <i class="icon-down-open-mini"></i></a>
              <ul>
                <li><%= link_to "Licences", quotation_path %></li>
                <li><%= link_to "Insurances", quotation_path %></li>
              </ul>
            </li>
            <li><%= link_to "Tips", tips_path %></li>
            <li><%= link_to "Quotation", quotation_path %></li>
            <li><%= link_to "Contact Us", contact_us_path %></li>
          </ul>
        </div><!-- End main-menu -->
      </nav>
    </div>
  </div><!-- container -->
</header><!-- End Header -->